.about-movie__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 0 0;
}

.about-movie__title {
  color: #fff;
  font-size: 20px;
}

.about-movie__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.about-movie__poster-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.about-movie__detail-item {
  font-size: 16px;
  margin-bottom: 10px;
}

.about-movie__detail-item span {
  color: #ffffff7a;
  margin-right: 10px;
}

.about-movie__action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.about-movie__action-buttons .bookmark {
  width: 100%;
}

.about-movie__action-buttons .bookmark:hover,
.about-movie__action-buttons .bookmark:focus,
.about-movie__action-buttons .share:hover,
.about-movie__action-buttons .share:focus {
  background-color: #463f5f;
  border: 1px solid #463f5f;
}

.action-button__text {
  display: inline-block;
  color: #c8c8c8;
  margin-left: 10px;
  font-size: 17px;
}
