.auth-page.register,
.auth-page.login {
  display: flex;
  justify-content: center;
}

.auth-page.register {
  margin-top: 40px;
}

.auth-page.login {
  margin-top: 70px;
}

.auth-form {
  background-color: var(--violet-400);
  width: 100%;
  max-width: 400px;
  padding: 30px 20px;
  border-radius: 8px;
}

.auth-form__field {
  margin-bottom: 5px !important;
}

.auth-form__label {
  font-weight: 600 !important;
  color: #fff;
  font-size: 13px;
}

.auth-form__input {
  font-family: var(--ff-primary) !important;
  border: 1px solid #9e9e9e !important;
  border-radius: 4px !important;
  color: var(--text-default);
  height: 40px !important;
}

.auth-form__input:focus {
  border: none !important;
  outline: 1px solid var(--color-primary) !important;
}

.auth-form__input::placeholder {
  color: var(--grey-400);
}

.input-error {
  border: 1px solid var(--crimson-200) !important;
}

.field-error,
.auth-form__error {
  font-size: 13px;
  text-align: center;
  color: var(--crimson-200);
}

.auth-form__error {
  font-size: 17px;
}

.auth-form__submit {
  margin: 20px 0 14px;
  text-align: center;
}

.auth-form__button {
  background-color: var(--violet-300);
  border-color: var(--violet-300);
  color: var(--white-100);
  padding: 12px 10px;
  width: 100%;
  border-radius: 24px;
  box-shadow: var(--box-shadow-primary);
}

.auth-form__button:focus {
  border-color: var(--color-primary) !important;
  box-shadow: none;
}

.auth-form__button:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: none;
}

.auth-form__button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.auth-form__footer {
  text-align: center;
  margin: 10px 0;
  color: var(--white-100);
  font-size: 15px;
}

.auth-form__link {
  color: var(--color-second);
  margin-left: 5px;
}

.auth-form__link:hover {
  color: #ebb63c;
}

.auth-form__link:hover {
  text-decoration: underline;
}
