.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  background-color: transparent;
  border-radius: 20px;
  padding: 4px 0;
  margin: 0;
  box-shadow: 0 4px 6px #26a69a;
}

.pagination li a {
  color: #ffffff7a;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 16px !important;
}

.pagination li.active {
  background-color: #26a69a;
}

@media (max-width: 992px) {
  .pagination {
    width: auto;
  }
}

@media (max-width: 575px) {
  .pagination li a {
    padding: 0 6px;
  }
}
