.pagination-container {
  display: flex;
  justify-content: flex-start;
}

.pagination {
  margin: 0;
}

.pagination li a {
  color: #ffffff7a;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 16px !important;
}

.pagination li.active {
  background-color: #26a69a;
}
