.pagination-container {
  display: flex;
  justify-content: flex-start;
}

.pagination {
  background-color: transparent;
  border: 2px solid #26a69a;
  border-radius: 20px;
  padding: 2px 0;
  margin: 0;
}

.pagination li a {
  color: #ffffff7a;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 16px !important;
}

.pagination li.active {
  background-color: #26a69a;
}
