.card-movie {
   border-radius: 15px;
   background-color: #d9d7e0;
   box-shadow: none;
   color: #100e19;
   height: 450px !important;
 }

.card-movie .card-image .activator {
   width: 100%;
   object-fit: cover;
   height: 300px;
   border-radius: 15px 15px 0px 0px;
}

.card-movie .card-content {
   padding: 10px;
}

.card-movie .card-content .card-title {
   color: #100e19 !important;
   font-size: 18px;
 }