.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.quiz-button,
.quiz-footer__timer {
  border: 2px solid var(--violet-400);
  color: var(--white-100);
  padding: 12px 30px;
  border-radius: 100px;
}

.quiz-footer__timer {
  padding: 10px 30px;
}

.quiz-button:hover {
  border: 2px solid var(--violet-300);
}
