:root {
  --ff-primary: Arial, Helvetica, sans-serif;
  --text-default: #d9d7e0;
  --color-primary: #26a69a;
  --color-second: #ffd575;
  --dark-primary: #100e19;
  --white-100: #ffffff;
  --grey-100: #d9d7e0;
  --grey-200: #c8c8c8;
  --grey-300: #a0a0a0;
  --grey-400: #ffffff7a;
  --blue-500: #1f1066;
  --violet-300: #463f5f;
  --violet-400: #2f2942;
  --crimson-200: #e12889;
  --crimson-300: #b11a69;
  --box-shadow-primary: 0 4px 6px #26a69a;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--ff-primary);
  background-color: #100e19;
  color: var(--text-default);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

.movies__notfound {
  text-align: center;
  color: var(--text-default);
  font-size: 22px;
}

