.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d7e0;;
  padding: 5px;
  border-radius: 4px;
  width: 38px;
  height: 38px;
  transition: 0.2s ease-in-out;
}

.social-icon:hover {
  background-color: #26a69a;
}

.x-icon,
.telegram-icon,
.vk-icon,
.linkedin-icon {
  width: 22px;
  height: 22px;
}
