.row .col {
  padding: 0;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 9px 22px;
  color: var(--white-100);
}

.search-btn:hover {
  background-color: #2bbbad;
  border: 1px solid #2bbbad;
}

.input-field .validate {
  border-bottom: 2px solid #adadad !important;
  padding: 0px 10px;
  color: var(--text-default);
}

.input-field .validate::placeholder {
  color: var(--grey-400);
}

.input-field .validate:focus {
  background-color: transparent !important;
  border-bottom: 2px solid var(--color-primary) !important;
  color: var(--text-default) !important;
}

.search-movie__label {
  color: var(--grey-400);
}

.search-movie__label:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .search-btn {
    padding: 8px 14px;
    font-size: 14px;
    top: 5px;
    right: 0.25rem;
  }
  .input-field .validate::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .search-btn {
    padding: 7px 12px;
    font-size: 13px;
    top: 10px;
    right: 0.25rem;
  }
  .input-field .validate::placeholder {
    font-size: 13px;
  }
}
