.row .col {
  padding: 0;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.input-field .validate {
  border-bottom: 2px solid #adadad !important;
  padding: 0px 10px;
  color: #d9d7e0;
}

.input-field .validate::placeholder {
  color: #ffffff7a;
}

.input-field .validate:focus {
  background-color: transparent !important;
  border-bottom: 2px solid #26a69a !important;
  color: #d9d7e0 !important;
}

.search-movie__label {
  color: #ffffff7a;
}

.search-movie__label:not(:last-child) {
  margin-right: 20px;
}
