.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--grey-200);
}

.not-found-page__image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.not-found-page__content {
  text-align: center;
}

.not-found-page__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.not-found-page__description {
  font-size: 18px;
  color: var(--grey-300);
}

@media (max-width: 768px) {
  .not-found-page__image {
    width: 100px;
    height: 100px;
  }

  .not-found-page__title {
    font-size: 21px;
  }

  .not-found-page__description {
    font-size: 15px;
  }
}
